*{
  font-family: "courier-prime";
  /* border: 1px solid red; */
}

body {
  overflow-y:hidden;
  margin: 0;
  background-color: lightblue;
}

#header{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gameContainer{
  text-align: center;
}

#board{
  border: 2px solid red;
}

#score{
  font-size: 50px;
  margin: 10px;
}

#reset{
  font-size: 24px;
  width: 100px;
  height: 40px;
  border: 1px solid red;
  cursor: pointer;
}
#reset:hover{
  text-decoration: underline;
}

